<p id="notice"><%= notice %></p>

<h1><%= @list.name %> todos</h1>

<table cellpadding="5">
  <% @list.todos.each do |todo| %>
    <tr class="todo">
      <td><%= todo.name %></td>
      <% if todo.completed? %>
        <td class="completed">completed</td>
      <% else %>
        <td class="complete-button">
          <%= button_to 'mark as completed', complete_list_todo_path(@list, todo), :method => :put %>
        </td>
      <% end -%>
      <td><%= link_to 'Destroy', [@list, todo], :method => :delete, :data => {:confirm => 'Are you sure?'} %></td>
    </tr>
<% end -%>
</table>
<%= link_to 'Edit List', edit_list_path(@list) %> |
<%= link_to 'New Todo', new_list_todo_path(@list) %> |
<%= link_to_lists_page %>
